.vscode
dsa.code-workspace
c-cpp-basics/*
!c-cpp-basics/*.c
!c-cpp-basics/*.cpp
recursion/*
!recursion/*.c
array-basics/*
!array-basics/*.c
array-adt/*
!array-adt/*.c
!array-adt/*.cpp
strings/*
!strings/*.c
matrices/*
!matrices/*.c
!matrices/*.cpp
sparse-matrix/*
!sparse-matrix/*.c
linked-lists/*
!linked-lists/*.c