.vscode
dsa.code-workspace
c-cpp-basics/*
!c-cpp-basics/*.c
!c-cpp-basics/*.cpp
recursion/*
!recursion/*.c
array-basics/*
!array-basics/*.c
array-adt/*
!array-adt/*.c
!array-adt/*.cpp
string/*
!string/*.c
matrix/*
!matrix/*.c
!matrix/*.cpp
sparse-matrix/*
!sparse-matrix/*.c
linked-list/*
!linked-list/*.c
stack/*
!stack/*.c
queue/*
!queue/*.c
binary-tree/*
!binary-tree/*.c
binary-search-tree/*
!binary-search-tree/*.c
sorting/*
!sorting/*.c
heap/*
!heap/*.c
hashing/*
!hashing/*.c